@model IEnumerable<object>

<script>
	$(document).ready(function () {
		$(".item_add").click(function (e) {
			e.preventDefault();

			// Get the data from the clicked link
			var itemId = $(this).data("itemid");
			var itemCategory = $(this).data("itemcategory");
			var title = $(this).data("title");
			var mediaLink = $(this).data("medialink");
			var videoMediaLink = $(this).data("videomedialink");
			var imagemedia = $(this).data("imagemedia");

			// Ajax call to your AddToCart action
			$.ajax({
				url: "@Url.Action("AddToCart", "Cart")",
				type: "POST",
				data: {
					itemId: itemId,
					itemCategory: itemCategory,
					title: title,
					mediaLink: mediaLink,
					videoMediaLink: videoMediaLink,
					imagemedia: imagemedia
				},
				success: function (data) {
					if (data.success) {
						alert("Item added to cart successfully!");
					} else {
						alert(data.message);
					}
				},
				error: function () {
					alert("An error occurred while adding to cart.");
				}
			});
		});
	});
</script>

@if (Model != null && Model.Any())
{
    <h2>Search Results for "@ViewBag.SearchTerm":</h2>
    foreach (var result in Model)
    {
        if (result is Lyric lyric)
        {
			<div class="new-collections">
				<div class="container">
					<h4 class="animated wow zoomIn" data-wow-delay=".5s">@lyric.Title (Lyric)</h4>
					<div class="new-collections-grids">
						<div class="col-md-3 new-collections-grid">
							<div class="new-collections-grid1 animated wow slideInUp text-center" data-wow-delay=".5s">
								<div class="new-collections-grid1-image">
									<a href="single.html" class="product-image"><img src="@lyric.LyricThumbnail" alt="Thumbnail" class="img-thumbnail" /></a>
									<div class="new-collections-grid1-image-pos products-right-grids-pos">
										<a asp-controller="Lyrics" asp-action="Details" asp-route-id="@lyric.LyricId">View Preaching</a>
									</div>
								</div>
								<h4><a href="single.html">@lyric.Title</a></h4>
								<div class="simpleCart_shelfsermon products-right-grid1-add-cart">
									<p>
										<a class="item_add"
										   href="#"
										   data-itemid="@lyric.LyricId"
										   data-itemcategory="Lyric"
										   data-title="@lyric.Title"
										   data-medialink="@lyric.LyricMediaLink"
										   data-videomedialink=""
										   data-imagemedia="@lyric.LyricThumbnail">
											Add to Cart
										</a>
									</p>
									<p><a asp-controller="Lyrics" asp-action="DownloadLyric" asp-route-id="@lyric.LyricId">Download Now</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        }
        else if (result is Sermon sermon)
        {
            <p></p>
			<div class="new-collections">
				<div class="container">
					<h4 class="animated wow zoomIn" data-wow-delay=".5s">@sermon.Title (Sermon)</h4>
					<div class="new-collections-grids">
						<div class="col-md-3 new-collections-grid">
							<div class="new-collections-grid1 animated wow slideInUp text-center" data-wow-delay=".5s">
								<div class="new-collections-grid1-image">
									<a href="single.html" class="product-image"><img src="@sermon.MediaType.Image" alt=" " class="img-responsive"></a>
									<div class="new-collections-grid1-image-pos products-right-grids-pos">
										<a asp-action="Details" asp-route-id="@sermon.SermonId">View Preaching</a>
									</div>
								</div>
								<h4><a asp-controller="Sermons" asp-action="Details" asp-route-id="@sermon.SermonId">@sermon.Title</a></h4>
								<p>@sermon.Minister.Name</p>
								<div class="simpleCart_shelfsermon products-right-grid1-add-cart">
									<p> <span class="sermon_price">@sermon.DatePreached</span></p>
									<p>
										<a class="item_add"
										   href="#"
										   data-itemid="@sermon.SermonId"
										   data-itemcategory="Sermon"
										   data-title="@sermon.Title"
										   data-medialink="@sermon.SermonMediaLink"
										   data-videomedialink="@sermon.SermonVideoLink"
										   data-imagemedia="@sermon.MediaType.Image">
											Add to cart
										</a>
									</p>
									<p><a asp-controller="Sermons" asp-action="DownloadSermon" asp-route-id="@sermon.SermonId">Download Now</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        }
        else if (result is Music music)
        {
			<div class="new-collections">
				<div class="container">
					<h4 class="animated wow zoomIn" data-wow-delay=".5s">@music.Title (Music)</h4>
					<div class="new-collections-grids">
						<div class="col-md-3 new-collections-grid">
							<div class="new-collections-grid1 animated wow slideInUp text-center" data-wow-delay=".5s">
								<div class="new-collections-grid1-image">
									<a href="single.html" class="product-image"><img src="@music.MediaType.Image" alt=" " class="img-responsive"></a>
									<div class="new-collections-grid1-image-pos products-right-grids-pos">
										<a asp-controller="Musics" asp-action="Details" asp-route-id="@music.MusicId">View Preaching</a>
									</div>
								</div>
								<h4><a href="single.html">@music.Title</a></h4>
								<div class="simpleCart_shelfItem products-right-grid1-add-cart">
									<p>
										<span class="sermon_price"></span>
										<a class="item_add"
										   href="#"
										   data-itemid="@music.MusicId"
										   data-itemcategory="Music"
										   data-title="@music.Title"
										   data-medialink="@music.MusicMediaLink"
										   data-videomedialink=""
										   data-imagemedia="@music.MediaType.Image">
											Add to Cart
										</a>
									</p>
									<p><a asp-controller="Musics" asp-action="DownloadMusic" asp-route-id="@music.MusicId">Download Now</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
        }
        <!-- Add other types as needed -->
    }
}
else
{
	<div class="new-collections">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">No results found.</h3>
		</div>
	</div>
    
}
